@import "tailwindcss";

@font-face {
  font-family: 'JetBrainsMonoNerdFont-Regular';
  src: url('/JetBrainsMonoNerdFont-Regular.ttf')
}

* {
  font-family: JetBrainsMonoNerdFont-Regular;
}

body {
  @apply text-[#e0def4] bg-[#191724] selection:bg-[#e0def4] selection:text-[#191724];
}
